*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: #000000;
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #ffffff;
}

img {
   max-width: 100%
}

a {
  text-decoration: none
}

/* common classes */

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.section-title {
  margin: 0;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.additional-info {
  padding-top: 68px;
  padding-bottom: 68px;

  background-color: #f2f6f8;
}

.content-paragraph {
  margin: 0;
  margin-bottom: 24px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.content-paragraph:first-of-type {
  margin-top: 26px;
}

.content-paragraph:last-of-type {
  margin-bottom: 0;
}

.aside-title {
  margin: 0;
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

/* buttons */

.button {
  display: inline-block;
  padding-top: 11px;
  padding-right: 17px;
  padding-bottom: 9px;
  padding-left: 17px;

  color: #000000;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;

  background-color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.button-primary {
  color: #ffffff;

  background-color: #ee3643;
  border: 0;
}

.button-primary:hover {
  background-color: #ca2c37;
}

.button-primary:active,
.button-primary:focus {
  background-color: #ba2732;
}

.button-secondary {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.button-secondary:hover {
  border-color: #0d6992;
}

.button-secondary:active,
.button-secondary:focus {
  border-color: #ee3643;
}

/* page header */

.page-header {
  background-color: #f4f7f9;
}

.page-header-top {
  min-height: 42px;

  color: #ffffff;
  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.page-header-top .container {
  display: flex;
}

/* logo */

.logo {
  position: relative;

  width: 220px;
  padding-top: 13px;
  padding-bottom: 7px;

  text-align: center;

  background-color: #ee3643;

}

.logo[href]:hover {
  background-color: #ca2c37;
}

.logo[href]:focus,
.logo[href]:active {
  background-color: #ba2732;
}

.logo::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -5px;

  width: 100%;
  height: 5px;

  background-color: #b52933;
}

.logo[href]:hover::after {
  background-color: #9a212a;
}

.logo[href]:focus::after,
.logo[href]:active::after {
  background-color: #8e1e26;
}

/* search form */

.search {
  position: relative;
  flex-grow: 1;
}

.search input {
  width: 100%;
  min-height: 42px;
  padding-left: 49px;

  color: #ffffff;

  background-color: transparent;
  border: none;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  opacity: 0.3;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search input:hover + .search-icon,
.search input:focus + .search-icon {
  opacity: 1;
}

.search input:focus + .search-icon path {
  fill: #ee3643;
  opacity: 1;
}

.search input::placeholder {
  color: #ffffff;
}

/* shop buttons */

.shop-button {
  position: relative;

  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;

  color: #ffffff;
}

.shop-button.item-added {
  background-color: #ee3643;
}

.shop-button:hover {
  background-color: #212a3a;
}

.shop-button:active,
.shop-button:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.shop-button::before {
  content: "";
  position: absolute;
  opacity: 0.3;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.shop-button:hover::before {
  opacity: 1;
}

.shop-button:active::before {
  opacity: 0.5;
}

.link-bookmarks::before {
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
}

.link-cart {
  padding-left: 49px;
}

.link-cart::before {
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
}

/* shop button - link order */

.link-order {
  text-align: center;

  padding-left: 0;
  background-color: #63a63e;
}

.link-order:hover {
  background-color: #5fbb2d;
}

.link-order:active,
.link-order:focus {
  background-color: #518534;
}

/* page header - middle */

.page-header-middle {
  display: flex;
  padding-top: 46px;
  padding-bottom: 39px;
}

.page-title {
  width: 197px;
  margin-top: 3px;
  margin-left: 52px;
  margin-bottom: 0;

  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
}

.top-address {
  width: 270px;
  margin-left: 71px;

  color: #32425c;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
}

.top-address a {
  position: relative;

  display: block;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 24px;

  color: #ee3643;
  font-size: 21px;
  line-height: 21px;

  border-color: #ffffff;
  border-style: solid;
  border-width: 3px;
}

.top-address a::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* login */

.login {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  max-width: 300px;
  margin-left: auto;
}

.login-button {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;

  color: #000000;
  font-size: 21px;
  line-height: 21px;
  vertical-align: middle;

  background-color: #ffffff;
}

.login-button:hover {
  color: #ee3643;
}

.login-button:hover path {
  fill: #32425c;
}

.login-profile:hover {
  color: #000000;
}

.login-button:active,
.login-button:focus {
  color: rgba(0, 0, 0, 0.3);
}

.login-button:active path,
.login-button:focus path {
   fill: #c5c5c5;
 }

.login-sign-in {
  position: relative;

  width: 121px;
  margin-right: 10px;
  padding-left: 47px;
}

.login-sign-in .login-icon {
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;
}

.login-profile {
  position: relative;

  width: 257px;
  padding-left: 47px;
  padding-right: 0;
}

.login-profile .login-user-icon {
  position: absolute;
  top: 13px;
  left: 14px;

  width: 20px;
  height: 18px;
}

.login-log-out {
  position: relative;

  width: 43px;
  min-height: 45px;
  padding: 0;
}

.login-log-out .log-out-icon {
  position: absolute;
  top: 14px;
  right: 10px;

  width: 21px;
  height: 17px;
}

/* profile list */

.profile-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 3px;
  margin-left: 18px;
  padding: 0;

  list-style: none;
}

.profile-list li:not(:first-child) {
  position: relative;
  margin-left: 32px;
}

.profile-list li:not(:first-child)::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -17px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.profile-link {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.profile-link:hover {
  color: #ee3643;
}

.profile-link:active,
.profile-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* main navigation */

.main-nav {
  padding-bottom: 60px;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
  list-style: none;
}

.main-nav a {
  display: block;
  padding-top: 20px;
  padding-right: 31px;
  padding-bottom: 23px;
  padding-left: 31px;

  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
}

.main-nav a:hover {
  background-color: #293449;
}

.main-nav a:active,
.main-nav a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #293449;
}

/* page footer */

.page-footer {
  color: #ffffff;
  background-color: #32425c;
}

.page-footer .container {
  display: flex;
}

.page-footer .container:nth-child(2) {
  margin-top: 33px;
  margin-bottom: 49px;
}

.page-footer .logo {
  width: 220px;
  padding-top: 21px;
  padding-bottom: 17px;
}

.bottom-address {
  width: 334px;
  margin-left: 3px;

  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.bottom-address a {
  color: #ffffff;
}

/* page footer - sub menu */

.sub-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;

  font-size: 18px;
  line-height: 24px;

  list-style: none;
}

.sub-menu li {
  margin-left: 59px;
}

.sub-menu a:hover {
  text-decoration: underline;
}

.sub-menu a:active,
.sub-menu a:focus {
  text-decoration: none;
}

/* page footer - sub menu top */

.sub-menu-top {
  margin-top: 38px;
}

.sub-menu-top a {
  color: #ffffff;
}

.sub-menu-top a:active,
.sub-menu-top a:focus {
  color: rgba(255, 255, 255, 0.5);
}

/* page footer - sub menu bottom */

.sub-menu-bottom a {
  color: #ffd180;
}

.sub-menu-bottom a:active,
.sub-menu-bottom a:focus {
  color: rgba(255, 209, 128, 0.5);
}

/* page footer - bottom */

.page-footer-bottom {
  padding-top: 35px;
  padding-bottom: 28px;

  background-color: #293449;
}

.page-footer-bottom p {
  margin: 0;
  margin-top: 2px;

  font-size: 16px;
  line-height: 18px;
}

.page-footer-bottom .page-copyright {
  width: 250px;
  margin-left: 2px;
}

.page-footer-link {
  color: #ffd180;
}

.page-footer-link:hover {
  text-decoration: underline;
}

.page-footer-link:active,
.page-footer-link:focus {
  color: #ee3643;
  text-decoration: none;
}

/* page footer - social */

.social {
  display: flex;
  flex-wrap: wrap;
  width: 135px;
  margin: 0;
  margin-left: 138px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  width: 41px;
  height: 41px;
  margin-right: 4px;

  color: #ffffff;
  background-color: #212a3a;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active,
.social-button:focus {
  background-color: #ee3643;
}

.social-vk {
  background-image: url("../img/icon-vk.svg");
}

.social-fb {
  background-image: url("../img/icon-fb.svg");
}

.social-insta {
  background-image: url("../img/icon-insta.svg");
}

/* page footer - feedback & developer */

.page-footer-bottom .feedback-link {
  width: 140px;
  margin-left: 116px;
}

.page-footer-bottom .developer-link {
  width: 100px;
  margin-left: 48px;
}

/* popup */

.form-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.form-popup input,
.form-popup textarea {
  display: block;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.form-popup textarea {
  height: 114px;
  resize: none;
}

.form-popup input:hover,
.form-popup textarea:hover {
  border-color: #b5b5b5;
}

.form-popup input:focus,
.form-popup textarea:focus {
  border-color: #ee3643;
}

.popup-controls {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 112px;
  padding-left: 80px;
  padding-right: 80px;

  background-color: #f4f4f4;
}

.popup-controls > .button {
  width: 100%;
}

.popup-controls > .button:not(:last-child) {
  margin-right: 20px;
}

.popup-close-button {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
}

/* index - advantages */

.section-advantages {
  display: flex;
  flex-wrap: wrap;

  padding-top: 59px;
  padding-bottom: 53px;
}

.product-advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-item {
  width: 300px;
  height: 123px;
  margin-right: 20px;

  color: #ffffff;
  background-repeat: no-repeat;
}

.advantages-item:nth-child(3n) {
  margin-right: 0;
}

.advantages-item .button {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.advantages-item .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.advantages-item .button:active,
.advantages-item .button:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.advantages-materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: right center; /* временное размещение фона */
}

.advantages-tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: right center; /* временное размещение фона */
}

.advantages-machinery {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: right center; /* временное размещение фона */
}

.advantages-discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: right center; /* временное размещение фона */
}

.advantages-delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: right center; /* временное размещение фона */
}

/* index - product categories */

.product-categories {
  width: 620px;
  height: 266px;
  margin-right: 20px;
}

.category-slides {
  margin: 0;
  padding: 0;

  list-style: none;
}

.category-slides li {
  color: #ffffff;

  background-color: #bbb7b2;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.category-slides h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.category-slides p {
  font-size: 18px;
  line-height: 24px;
}

.category-hammers {
  background-image: url("../img/categ-slider-item-1.jpg");
}

.category-drill {
  background-image: url("../img/categ-slider-item-2.jpg");
}

.category-markers {
  list-style: none;
}

/* index - service advantages */

.service-advantages {
  margin: 0;
  padding: 0;
}

.service-advantages .advantages-item {
  margin-right: 0;
}

/* index - section popular */

.section-popular header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f9f5f0;
}

.section-popular h2 {
  color: #32425c;
}

/* elements list */

.elements-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.elements-list-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;

  text-align: center;

  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
}

.elements-list-item:hover {
  box-shadow: 0 10px 25px #293449;
}

.elements-list-item[href]:active {
  box-shadow: 0 4px 10px #293449;
  opacity: 0.3;
}

/* index - popular list */

.popular-products-list li:nth-child(4n) {
  margin-right: 0;
}

.brands-list {
  padding-bottom: 85px;
}

/* index - service tabs */

.service-tabs {
  list-style: none;
}

.service-tabs label {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service-tabs label:hover {
  background-color: #293449;
}

.service-container {
  display: flex;
}

.service-container input:focus ~ label {
  outline: 1px auto;
}

.service-container input:nth-child(1):checked ~ .service-tabs label[for="delivery-input"],
.service-container input:nth-child(2):checked ~ .service-tabs label[for="guarantee-input"],
.service-container input:nth-child(3):checked ~ .service-tabs label[for="credit-input"] {
  color: #32425c;

  background-color: #ffffff;
  border-color: #ffffff;
}

/* index - service blocks */

.service-blocks {
  list-style: none;
}

.service-blocks h3 {
  color: #32425c;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;

  text-transform: uppercase;
}

.service-blocks li {
  background-position: right bottom;
  background-repeat: no-repeat;
}

.service-delivery {
  background-image: url("../img/service-delivery.png");
}

.service-guarantee {
  background-image: url("../img/service-guarantee.png");
}

.service-credit {
  background-image: url("../img/service-credit.png");
}

/* index - about */

.about-section {
  width: 540px;
  padding-top: 79px;
  padding-bottom: 85px;
}

.about-section p:nth-of-type(1) {
  width: 540px;
}

.about-section p:nth-of-type(2) {
  width: 400px;
}

.delivery-list {
  margin-top: 21px;
  margin-bottom: 36px;
  padding-left: 36px;

  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.delivery-list li {
  position: relative;;
}

.delivery-list li::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -36px;

  display: block;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.delivery-list li:not(:first-child) {
  margin-top: 20px;
}

.about-section .button {
  width: 220px;
}

/* index - contacts */

.contacts-section {
  width: 300px;
  padding-top: 79px;
  padding-bottom: 86px;
}

.contacts-section p:nth-of-type(1) {
  width: 185px;
}

.map {
  display: block;
  width: 300px;
  height: 158px;
  margin-top: 31px;
  margin-bottom: 40px;

  background-color: #f5f3ed;
}

.contacts-section .button {
  width: 300px;
}

/* index - feedback popup */

.feedback-popup {
  display: block; /* временно для отображения результата */
  width: 620px;
  height: 430px;
  margin-top: -215px;
  margin-left: -310px;
}

.feedback-popup .popup-close-button {
  top: 17px;
}

.feedback-popup .form-popup {
  width: 100%;
  height: 100%;
}

.feedback-inputs {
  width: 460px;
  margin: 0 auto;
  padding-top: 48px;
}

.feedback-inputs .feedback-contacts {
  display: flex;
  margin: 0;
  margin-bottom: 21px;
}

.feedback-inputs label {
  width: 100%;

  font-size: 18px;
  line-height: 18px;
}

.feedback-inputs label:not(:last-child) {
  margin-right: 20px;
}

.feedback-inputs input,
.feedback-inputs textarea {
  width: 100%;
  margin-top: 8px;
}

/* index - map popup */

.map-popup {
  display: block; /* временно для отображения результата */
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;

  box-shadow: 0 0 16px 0 rgba(47, 42, 43, 0.5);
}

/* inner pages - common */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs li {
  margin-top: 21px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  position: relative;
  margin-right: 39px;
  color: #000000;
}

.breadcrumbs a::after {
  content: "";

  position: absolute;
  top: 2px;
  right: -24px;

  display: block;
  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs-home {
  left: -2px;

  display: block;
  width: 15px;
  height: 18px;

  background-image: url("../img/icon-home.svg");
  background-position: 0 2px;
  background-repeat: no-repeat;
}

.breadcrumbs .breadcrumbs-home::after {
  right: -23px;
}


/* catalog */

.catalog-section {
  padding-bottom: 60px;
}

.catalog-section h2 {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-right: 28px;
  padding-bottom: 29px;
  padding-left: 28px;

  color: #32425c;
  background-color: #f2f6f8;
}

/* catalog filter */

.filter-column {
  width: 220px;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter fieldset {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;
}

.filter fieldset:not(:first-of-type) {
  border-top: 1px solid #e5e5e5;
}

.filter fieldset:last-of-type {
  margin-bottom: 55px;
}

.filter legend {
  position: absolute;
  top: 16px;
  left: 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-input {
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
}

.filter .button[type="submit"] {
  width: 140px;
}

/* catalog filter = price slider */

.price-slider {
  background-color: #f7f3ec;
}

.range-slider {
  background-color: #d7dcde;
}

.range-slider-line {
  background-color: #00ca74;
}

.range-marker {
  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border: none;
}

/* catalog filter - checkboxes */

.filter input[type="checkbox"] + label {
  position: relative;
}

.filter input[type="checkbox"] + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -35px;

  display: block;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.79;
}

.filter input[type="checkbox"]:hover + label::before {
  opacity: 1;
}

.filter input[type="checkbox"]:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter input[type="checkbox"]:disabled + label::before {
  opacity: 0.3;
}

/* ctalog filter - radio buttons */

.filter input[type="radio"] + label {
  position: relative;
}

.filter input[type="radio"] + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -36px;

  display: block;
  width: 25px;
  height: 25px;

  border: 4px solid #b5b5b5;
  border-radius: 50%;
  opacity: 0.79;
}

.filter input[type="radio"]:hover + label::before {
  opacity: 1;
}

.filter input[type="radio"]:checked + label::before {
  background-color: #b5b5b5;
  box-shadow: inset 0 0 0 4px #ffffff;
}

.filter input[type="radio"]:disabled + label::before {
  opacity: 0.3;
}

/* catalog filter - producers, battery */

.filter-producers,
.filter-battery {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 23px;

  list-style: none;
}

.filter-producers li,
.filter-battery li {
  padding-top: 20px;
  padding-left: 35px;
}

.filter-producers label,
.filter-battery label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  cursor: pointer;
}

.filter-producers input:focus + label::before,
.filter-battery input:focus + label::before {
  outline: 1px auto;
}

.filter-producers input:disabled + label,
.filter-battery input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

/* catalog - content column */

.catalog-content-column {
  width: 700px;
}

/* catalog - sort */

.sort-aside {
  display: flex;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort-links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.sort-links a {
  color: #ee3643;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.sort-links a[href] {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-links a[href]:hover,
.sort-links a[href]:active,
.sort-links a[href]:focus {
  color: #000000;
}

.sort-buttons {
  margin: 0;
  list-style: none;
}

/* catalog - products */

.catalog-list .elements-list-item:nth-child(3n) {
  margin-right: 0;
}

.elements-list-item h3 {
  width: 191px;
  margin-top: 9px;
  margin-bottom: 11px;
  margin-right: auto;
  margin-left: auto;

  font-size: 18px;
  line-height: 20px;
}

.elements-list-item .product-image {
  order: -1;
  width: 218px;
  height: 170px;
}

.elements-list-item .product-title {
  text-transform: uppercase;
}

.elements-list-item .product-buttons {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 218px;
  height: 170px;
  padding-top: 43px;

  background-color: #ffffff;
}

.elements-list-item:hover > .product-buttons {
  display: block;
}

.elements-list-item .old-price {
  width: 191px;
  margin: 0 auto;

  color: #999999;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.elements-list-item .price {
  position: relative;

  width: 141px;
  margin: 0 auto;
  margin-top: 28px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;

  background-color: #ee3643;
  border-radius: 3px;
}

.elements-list-item .price::after {
  content: "";

  position: absolute;
  top: 0;
  right: -19px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: transparent;
}

.elements-list-item .old-price + .price {
  margin-top: 10px;
}

.elements-list-item.new-element::after {
  content: "";

  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* catalog - product buttons */

.button-buy {
  width: 138px;
  margin-bottom: 16px;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.button-buy:hover {
  background-color: #5fbb2d;
}

.button-buy:active,
.button-buy:focus {
  background-color: #518534;
  box-shadow: none;
}

.button-add-mark {
  width: 138px;
  padding-top: 8px;
  padding-bottom: 6px;

  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button-add-mark:hover {
  border-color: #32425c;
}

.button-add-mark:active,
.button-add-mark:focus {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

/* catalog - pagination */

.pagination {
  display: inline-flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.current-page {
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;

  background-color: #ee3643;
}

/* catalog - product added popup */

.product-added-popup {
  display: flex; /* временно для отображения результата */
  width: 620px;
  height: 282px;
  margin-top: -141px;
  margin-left: -310px;
}

.product-added-popup h2 {
  position: relative;

  margin: 0;
  margin-top: 65px;
  margin-left: 81px;
  padding-left: 98px;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

.product-added-popup h2:before {
  content: "";

  position: absolute;
  top: -17px;
  left: 0;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
